:root {
    color-scheme: light dark;
}

body {
    font-family: system-ui;
}
@media (prefers-color-scheme: light) {
    body {
        background-color: gray;
    }
    .content {
        background-color: whitesmoke;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #141218;
    }
    .content {
        background-color: #1d1b20;
    }
}

.content {
    height: 100vh;
    max-width: 600px;
    box-shadow: 2px 1px 10px black;
    margin: 0 auto;
    height: 100%;
    padding: 10px;
    border-radius: 16pt;
}

header {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

footer {
    font-size: 8pt;
    font-weight: lighter;
    text-align: left;
    opacity: 0.5;
}

.danger {
    color: red;
}

div.right {
    display: flex;
    justify-content: right;
}

input[type='submit'] {
    margin-right: 10px;
    margin-top: 10px;
    -webkit-appearance: none;
    padding: 5px;
    border-radius: 8px;
    padding: 5px 13px;
    border: 2px solid hsl(235.38, 81.25%, 68.63%);
    background-color: hsl(235.38, 81.25%, 68.63%);
    font-size: 14px;
    color: white;
    cursor: pointer;
}
    input[type='submit']:hover {
        border: 2px solid hsl(235.38, 81.25%, 68.63%);
        background-color: whitesmoke;
        color: black;
        transition-duration: 100ms;
    }
    input[type='submit']:active {
        border: 2px solid hsl(235.38, 81.25%, 88.63%);
        color: hsl(0, 0%, 60%);
        transition-duration: 50ms;
    }

form fieldset {
    border-radius: 12px;
    -webkit-user-select: none;
    user-select: none;
}
    form fieldset label {
        -webkit-user-select: none;
        user-select: none;
    }

.disabled {
    opacity: 50%;
}
