:root {
    color-scheme: light dark;

    --btn-background: hsl(235.38, 81.25%, 68.63%);
    --btn-border: var(--btn-background);
    --btn-text: white;

    --btn-hover-background: white;
    --btn-hover-border: hsl(235.38, 81.25%, 68.63%);
    --btn-hover-text: black;

    --btn-active-background: white;
    --btn-active-border: hsl(235.38, 81.25%, 88.63%);
    --btn-active-text: hsl(0, 0%, 60%);
}

body {
    font-family: system-ui;
}
@media (prefers-color-scheme: light) {
    body {
        background-color: gray;
    }
    .content {
        background-color: whitesmoke;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #141218;
    }
    .content {
        background-color: #1d1b20;
    }
}

.content {
    height: 100vh;
    max-width: 600px;
    box-shadow: 2px 1px 10px black;
    margin: 0 auto;
    height: 100%;
    padding: 10px;
    border-radius: 16pt;
}

header {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

footer {
    font-size: 8pt;
    font-weight: lighter;
    text-align: left;
    opacity: 0.5;
}

.danger {
    color: red;
}

div.right {
    display: flex;
    justify-content: right;
}

input[type="button"],
input[type="submit"] {
    margin-right: 10px;
    margin-top: 10px;
    -webkit-appearance: none;
    appearance: none;
    padding: 5px;
    border-radius: 8px;
    padding: 5px 13px;
    border: 2px solid var(--btn-border);
    background-color: var(--btn-background);
    font-size: 14px;
    color: var(--btn-text);
    cursor: pointer;
    transition-duration: 100ms;
}
input[type="button"]:hover,
input[type="submit"]:hover {
    border: 2px solid var(--btn-hover-border);
    background-color: var(--btn-hover-background);
    color: var(--btn-hover-text);
}
input[type="button"]:active,
input[type="submit"]:active {
    border: 2px solid var(--btn-active-border);
    background-color: var(--btn-active-background);
    color: var(--btn-active-text);
    transition-duration: 50ms;
}
input[type="button"]:disabled,
input[type="submit"]:disabled {
    border: 2px solid hsl(from var(--btn-border) h 0% l);
    background-color: hsl(from var(--btn-background) h 0% l);
    color: hsl(from var(--btn-text) h 0% l);
    cursor: default;
}

form fieldset {
    display: grid;
    grid-template-columns: 1fr;

    border-radius: 12px;
    -webkit-user-select: none;
    user-select: none;
}
form fieldset label {
    display: flex;

    -webkit-user-select: none;
    user-select: none;
}
form fieldset label span {
    margin-left: 3px;
    cursor: help;
}

.disabled {
    opacity: 50%;
}
