:root {
    color-scheme: light dark;
}

body {
    min-width: 310px;
    padding: 0 10px;

    font-family: system-ui;
    text-align: center;

    -webkit-user-select: none;
    user-select: none;
}

footer {
    margin-top: 10px;
    font-size: 8pt;
    font-weight: lighter;
    text-align: left;
    opacity: 0.5;
}

.tip {
    font-size: 12pt;
    font-weight: lighter;
}

#header-icon {
    margin: 0 auto;
    padding-top: 10px;
}

#modifier {
    font-weight: bold;
}

.version {
    font-weight: normal;
    font-size: 12px;
    opacity: 0.5;
}

.button {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    margin-right: 10px;
    margin-top: 10px;
    -webkit-appearance: none;
    padding: 5px;
    border-radius: 8px;
    padding: 5px 13px;
    border: 2px solid hsl(235.38, 81.25%, 68.63%);
    background-color: hsl(235.38, 81.25%, 68.63%);
    font-size: 14px;
    color: white;
    cursor: pointer;
}
    .button:hover {
        border: 2px solid hsl(235.38, 81.25%, 68.63%);
        background-color: whitesmoke;
        color: black;
        transition-duration: 100ms;
    }
    .button:active {
        border: 2px solid hsl(235.38, 81.25%, 88.63%);
        color: hsl(0, 0%, 60%);
        transition-duration: 50ms;
    }
